body {
    margin: 0px;
    width: 100%;
  }

#logo{
    width: 190px;
}

.img-costura{
    width: 140px;
}

.wrapper {
   display: grid;
   grid-template-rows: 100% 100%;
   padding: 20px 20px 20px 20px;

 
  }

 .contenido{
    display: grid;
    grid-template-rows: 30% 70%;
    height: 400px;
 }

 ul{
    display: grid;
  grid-template-columns: 32% 32% 32%;
  justify-content: center;
  
  list-style-type: none;
 }

 #p-titulo-header{
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    margin-top: 40px;
    margin-left: 90px;
 }

 #infoHeader{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    border-color: black;
    border-width: 5px;
    border-style: dashed;
 }

 #maquina{
    width: 130px;
 }

 #hilo{
   width: 130px;
   padding-left: 57%;
 }

 a {
    text-decoration: none;
    font-size: 27px;
    font-weight: 400px;
    font-family:'Courier New', Courier, monospace;
    color: #e1df72;
    margin-top: 40px;
    margin-left: 10px;
 }


 #li-redirect-contacto{
   border: 2px solid 1px;
   margin-left: 30px;
 }

 footer{
   display: grid;
   grid-template-columns: 25% 25% 50%;
   padding-top: 80px;
 }

#div-footer-instagram{
   margin-left: 50%;
}

#div-footer-texto{
   margin-left: 30%;
}